# typescript
lib

# x-lisp
*.o
*.lisp.log
*.basic
*.machine
*.machine.x86
*.machine.x86.s
*.out

# vitest
coverage

# npm
node_modules

# 0x
*.0x/

# emacs
*~
*#*
.#*

# vscode
.vscode

# idea
.idea

# macOS
.DS_Store